page-register {
    .background{
        // background:url("../assets/imgs/mountain.jpg"); 
        background-size:cover;
        background-color: #4B0082;
       
    }

    .title{
        font-family: pacifico;
        text-align: center;
        color: #fff;
        font-size: 60px;
        margin-top:50px;;
        background:rgba(255, 255, 255, 0.1);
    }

    ion-card.card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    a, p,
ion-card-header.card-header {
    color: #fff!important;
}

.item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;

    .text-input, {
        color: #fff;
    }

    
    input::-moz-placeholder{
        color: #fff!important;
    }
    input:-moz-placeholder {
        color: #fff!important;
    }
    *:-moz-placeholder{
        color: #fff!important;
    }
    *:-ms-input-placeholder{
        color: #fff!important;
    }
    *::-webkit-input-placeholder{
        color: #fff!important;
    }

}

.icon {
    padding-right: 10px;
}

.bottom {
    bottom: 0;
}

.input-cover {
position: static;
}

}
