page-event {
   
    .background{
      background-color: whitesmoke;
    }
  
    .gallery{
      height:30%;
      width:100%;
      
    }
  
    .back{
      background-color: transparent;
      position: fixed !important;
    }
  
    .image{
      height:250px;
      object-fit: cover !important;
    }
  
  
  
  }
  