page-profile {

    .image {
         position: relative;
         height:200px;
         width:100% !important;
         margin-left:0% !important;
         object-fit: cover !important;
     }
 
 
    .background{
      background-color:whitesmoke;
    }
  
    .edit-photo {
      position: absolute;
 
 
      margin-left:25%;
      font-weight: bold;
     
    }
  
    .name {
     font-size: 1.5em;
      width: 100%;
      color: black;
    }
 
    
 
 }
 