<ion-header>

  <ion-navbar color="primary">
  
  <ion-searchbar  #search
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)"
  [(ngModel)]="query">
</ion-searchbar>
<ion-buttons left>
    
  <button ion-button icon-only (click)="closeModal()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>
</ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

   
  <ion-spinner  name="circles" *ngIf="spinner" color="secondary"></ion-spinner>

    <ion-list>
        <button ion-item *ngFor="let event of events"  (click)="gotoEvent(event.id)">
          {{ event.title }}
        </button>  
      </ion-list>

<!-- 
      <ion-row *ngIf="events === undefined || events.length == 0">
          <ion-col text-center>
            <div class="msg">
              <ion-icon name="md-bulb"></ion-icon>
              <p>Search Events </p>
            </div>
           
              
          </ion-col>
        </ion-row> -->
    
</ion-content>
