<ion-header>
  <ion-navbar color="secondary">
      <ion-title>
        Update Event
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-item>
        <ion-input placeholder="Title"  [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input placeholder="Phone number"  [(ngModel)]="event.phone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Price"  [(ngModel)]="event.ticket_price"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>Description</ion-label>
          <ion-textarea
          [(ngModel)]="event.description"></ion-textarea>

    </ion-item>
    <ion-searchbar
    placeholder="address"
    [(ngModel)]="autocompleteDest.query"
    [showCancelButton]="false"
    (ionInput)="updateSearchDestination()"
  >
  </ion-searchbar>
  <ion-list >
    <ion-item *ngFor="let item of autocompleteItemsDest" tappable (click)="selectSearchResultDestination(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime isplayFormat="MMM DD YYYY" min="{{ minYear }}"
              max="{{ maxYear }}" [(ngModel)]="event.startDate"></ion-datetime>
          </ion-item>


      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.startTime"></ion-datetime>
      </ion-item>


       <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime isplayFormat="MMM DD YYYY"  min="{{ minYear }}"
            max="{{ maxYear }}" [(ngModel)]="event.endDate"></ion-datetime>
        </ion-item>
      <ion-item>
          <ion-label>End Time</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.endTime"></ion-datetime>
        </ion-item>

    </ion-list>

    <ion-list>
      <ion-item (click)="getPic()">
          <span item-start>select photos</span>
          <span item-start>(3 Max)</span>
          <button ion-button icon-start clear item-end>
            <ion-icon name="photos"></ion-icon>
            Gallery
          </button>
        </ion-item>

  </ion-list>


    <ion-grid *ngIf="imageResponse!=null">
        <ion-row>
          <ion-col   *ngFor="let image of imageResponse" col-4 tappable>
            <img src="{{image}}" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="event.image1!=null">
        <ion-row>
          <ion-col  col-4 tappable>
            <img *ngIf="event.image1!=null" src="{{event.image1}}" alt="">
            <img *ngIf="event.image2!=null" src="{{event.image2}}" alt="">
            <img *ngIf="event.image3!=null" src="{{event.image3}}" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>


    <button class="btninfo" small [disabled]="event.description==='' || event.title==='' || event.ticket_price==='' || event.address==='' ||  event.startDate==='' || event.startTime==='' || event.endDate==='' || event.endTime==='' || event.phone===''" ion-button (click)="save()">Publish</button>

  </ion-content>
